<div *ngIf="tableMode; else create">
<h2>Список гостей</h2>

<div class="container">
<div class="row">
<div class="col-md-3">
<a class="btn btn-default btn-sm" (click)="add()" role="button"><span class="glyphicon glyphicon glyphicon-plus"></span> Добавить запись</a>
</div>
<div class="col-md-3">
<label>Записей на странице:</label>
</div>
	<div class="col-md-3">
		<input onkeydown="if (event.keyCode == 8) event.preventDefault();" onkeypress="return event.charCode > 48;" class="form-control" [(ngModel)]="size" type="number" min="1" max="50">
	</div>
	<div class="col-md-3">
	<a class="btn btn-default btn-sm" (click)="loadCustomers()" role="button"><span class="glyphicon glyphicon glyphicon-ok"></span> Применить</a>
	</div>
</div> 
</div>

<table *ngIf="tableMode; else create" class="table table-striped">
    <thead>
        <tr>
            <td><b>Имя</b></td>
            <td><b>Фамилия</b></td>
            <td><b>Номер телефона</b></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of customers | paginate: { itemsPerPage: size, currentPage: page, totalItems: customersCount } | orderBy: 'name'">
            <ng-template [ngIf]="customer?.customerId != c.customerId" [ngIfElse]="edit">
                <td class="col-md-2">{{c?.name}}</td>
                <td class="col-md-2">{{c?.surname}}</td>
                <td class="col-md-2">{{c?.phoneNumber}}</td>
                <td class="col-md-2">	
					<a class="btn btn-warning btn-xs btn-space" (click)="editCustomer(c)" role="button"><span class="glyphicon glyphicon-pencil"></span> Изменить</a>
					<!-- (click)="delete(c)" -->
					<a class="btn btn-danger btn-xs" (click)="deleteSwal.show()" role="button"><span class="glyphicon glyphicon-remove"></span> Удалить</a>	
					<swal
						#deleteSwal
						title = "Удалить гостя {{c?.surname}} {{c?.name}}?"
						text="Это нельзя будет отменить."
						confirmButtonText= "Да"
						cancelButtonText = "Нет"
						type="warning"
						[showCancelButton]="true"
						[focusCancel]="true"
						(confirm)="delete(c)"
						(cancel)="cancel()">
						
					</swal>
                </td>
            </ng-template>
        </tr>
    </tbody>
</table>

<div class="text-center">
<pagination-controls 
	previousLabel="Назад"
    nextLabel="Вперёд"
	(pageChange)="page = $event; ngOnInit();">
</pagination-controls>     
</div>        

</div>
 
<!--шаблон для редактирования-->
<ng-template #edit>

    <td class="col-md-2">
        <input type="text" name="name" [(ngModel)]="customer.name" class="form-control" #name="ngModel" required />
    </td>
    <td class="col-md-2">
        <input type="text" name="surname" [(ngModel)]="customer.surname" class="form-control" #surname="ngModel" required />
    </td>
    <td class="col-md-2">
        <input type="text" name="phonenumber" [(ngModel)]="customer.phoneNumber" class="form-control" #phonenumber="ngModel" required pattern="^(\+[0-9]{11})$" />
    </td>
    <td>
		<!-- <input type="button"  [disabled]="name.invalid || surname.invalid || phonenumber.invalid" value="Сохранить" (click)="save()" class="btn btn-success btn-xs btn-space" /> -->
		<button type="button"  [disabled]="name.invalid || surname.invalid || phonenumber.invalid" (click)="save();" class="btn btn-success btn-xs btn-space" aria-label="my button" style="border: 0px">
		<span class="glyphicon glyphicon-ok" style="color:#ffffff; font-size: 12px;" aria-hidden="true"></span>
		Сохранить
		</button>
		<!-- <a class="btn btn-xs btn-success btn-space" (click)="save()" role="button"><span class="glyphicon glyphicon-ok"></span> Сохранить</a> -->
		<a class="btn btn-danger btn-xs" (click)="cancel()" role="button"><span class="glyphicon glyphicon-remove"></span> Отмена</a>
    </td>

</ng-template>

		<swal
			#saveSwal
			title = "Успешно"
			type="success">						
		</swal>
<swal
	#errorSwal
	title = "Ошибка"
	text = "{{errorMsg}}(Bugged!!!)"
	type="error">
<ng-container *swalPartial="swalTargets.text">
<div style="display: table; margin: 0 auto;">{{errorMsg}}</div>
</ng-container>	
</swal>  
 
<!--шаблон для добавления-->
<ng-template #create>
<div class="form-horizontal">
<h2>Добавление гостя</h2>
<br>
    <div class="form-group">
        <label class="col-md-3">Имя</label>
		<div class="col-md-3">
        <input type="text" name="name" [(ngModel)]="customer.name" class="form-control" #name="ngModel" required />
			<div [hidden]="name.valid || name.untouched" class="alert alert-danger">
                Не указано имя.
            </div>
		</div>
    </div>
    <div class="form-group">
        <label class="col-md-3">Фамилия</label>
		<div class="col-md-3">
        <input type="text" name="surname" [(ngModel)]="customer.surname" class="form-control" #surname="ngModel" required />
			<div [hidden]="surname.valid || surname.untouched" class="alert alert-danger">
                Не указана фамилия.
            </div>
		</div>
    </div>
    <div class="form-group">
	<label class="col-md-3">Номер телефона</label>
	<div class="col-md-3">
        <input type="text" name="phonenumber" [(ngModel)]="customer.phoneNumber" class="form-control" #phonenumber="ngModel" required pattern="^(\+[0-9]{11})$" />
		
		<div [hidden]="phonenumber.valid || phonenumber.untouched" class="alert alert-danger">
               Номер телефона должен иметь следующий формат: "+79991112233".
        </div>
	
	</div>
		
    </div>
	
	<div class="form-group">
		<div class="col-md-3"></div>
        <div class="col-md-3">
            <input type="button"  [disabled]="name.invalid || surname.invalid || phonenumber.invalid" value="Сохранить" (click)="save();" class="btn btn-success" />
        </div>
    </div>
<!-- </form> -->
	
	<div>
    <a class="btn btn-default btn-sm" (click)="cancel()" role="button"><span class="glyphicon glyphicon-chevron-left"></span> Вернуться к списку</a>
	</div>
	
</div>
</ng-template> 